easydict==1.9
numpy==1.17.0
tqdm==4.31.1
torchvision==0.21.0
torch==2.6.0
tochaudio==2.6.0
opencv_python==4.2.0.34
Pillow==7.1.2
tensorboardX==2.0
tensorflow==2.15.0
protobuf==3.20.0
transformers==4.37.2



